{% extends '_layout.html' %}

{% block body %}
<h1 class="indent">Register for an org</h1>
<form action="/submit" method="post">
    <div class="container">
        <div class="col">
            <div class="row">
                <label for="student">Name</label>
                    <input type="text" class="form-control" name="student" id="student" placeholder="First, Last" autocomplete="off">
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="org">Org to Join</label>
                    <select class="form-control" id="org" name="org">
                      <option>Choose one</option>
                      <option value="code9">code9</option>
                      <option value="C3">C3</option>
                      <option value="Charlotte Hack">Charlotte Hack</option>
                      <option value="Community Coders">Community Coders</option>
                      <option value="Game Developers">Game Developers</option>
                    </select>
                </div>
            </div><div class="row">
                <input type="submit" value="Submit">       
            </div>
        </div>
    </div>
</form>
{% endblock %}